.resumen-container {
  text-align: center;
}

.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Monto-Caja {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100px;
  color: #E9F2FD;
  background: #373B43;
  border-radius: 20px;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 170px;
  margin-left: 10rem;
}

.divider {
  width: 90%;
  height: 1px;
  background-color: white;
  margin: 50px 0;
}

p {
  margin: 0;
  padding: 5px;
}

.Texto-1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 15px;
  color: #575757;
}

.Texto-2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 15px;
  color: #575757;
}

.Apertura-Caja {
  font-family: 'Poppins';
  margin: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 0px;
  color: #42D976;
}

.Cierre-Caja {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #42D976;
}

.Apertura-Cierre {
  display: flex;
  justify-content: center;
  
  margin-top: 70px;
}

.aperturaCaja{
  margin-right: 300px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #E9F2FD;
  background: #42D976;
  border: 4px solid #42D976;
  border-radius: 15px;

}

.cierreCaja{
  background-color: transparent;
  outline: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #E9F2FD;
  background: #42D976;
  border: 4px solid #42D976;
  border-radius: 15px;
}
.tabla-datos {
  margin: 0 auto;
  border-collapse:collapse;
  width: 75%;
  
}

.tabla-datos th,
.tabla-datos td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #575757;
}

.tabla-datos th {
  background: #575757;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
  color: #E9F2FD;
  
}
.Arqueo-Final{
  margin-top: -50px;
}