.contenedorTitulos {
    width: 100%;
}
.tituloUser {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: #575757;

}
.otro{
    margin-right: 5%;
    margin-left: 6%;
}
.cedula{
    margin-right: 3%;
    margin-left: 6%;
}
.categoria{
    margin-left: 6%;
}
.membresia{
    margin-left: 4.5%;   
}
.estado {
    margin-left: 5%;  
}