.botton {
    margin-top: 30px;
    top: 100px;
    right: 0;
  }
  
  .botton button {
    
    background: #42D976;
    color: #E9F2FD;
    width: 120px; /* El tama del boton*/
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1jydj5px;
    margin-left:44% /* Empuja el botón a la derecha */
    
  }
  
  .botton button:hover {
    background-color: #0069d9;
  }
  .boton-container {
    position: relative;
    padding-left:780px;
    margin-top: 30px;
    
  }
  
  