.tarjetas{
    background-color: #373B43;
    color: #FFFF;
    width: 90%;
    height: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 2%;
    padding: 1%;
    display: inline-block;
    text-align: left;
    transition: width 0.3s ease;
    border-radius: 15px;
}
.botones-hovered{
    display: inline-block;
}
.tarjetas.hovered {
    width: 99%;
    display: inline-block;
}
.imagenBoton{
    display: inline-block;
    cursor: pointer;
}
.tarjetas-content {
    display: inline-block;
    width: 90%;
}
.botonNuevo {
    /* Estilos del botón */
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.elementoTarjeta{
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    text-align: center;
}
.nombreApellido {
    display: inline-block;
    width: 30%;
    text-align: center;
}
.separacion {
    width: 15%;
}
.botonPagado {
    background-color: #373B43;
    border-bottom-width: thick;
    border: solid;
    border-color: #42D976;
    color: #42D976;
    font-family: 'Poppins';
    padding: 5% 10% 5% 10%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
.botonPendiente {
    background-color: #373B43;
    border-bottom-width: thick;
    border: solid;
    border-color: #D9B842;
    color: #D9B842;
    width: 100%;
    font-family: 'Poppins';
    padding: 5% 10%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}
.botonPendiente:hover{
    background-color: #D9B842;
    color: white;
}
.botonVencido {
    background-color: #373B43;
    border-bottom-width: thick;
    border: solid;
    border-color: #D94242;
    color: #D94242;
    width: 100%;
    font-family: 'Poppins';
    padding: 5% 10%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}
.botonVencido:hover{
    background-color: #D94242;
    color: white
}