

.tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
.tarjetasProductos {
    margin-top: 60px;
    display: flex;
    width: 150px;
    height: 200px;
    background: #373B43;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 0px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 0px;
  }

 
  .main{
    background-color: rgb(12, 12, 12);
  }


  .tarjetasProductos img {
    width: 70%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    
  }
  
  .tarjetasProductos h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .tarjetasProductos p {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  
  
  .tarjetas__etiqueta {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px 0 0 0;
  }
  .Bebidas-text {
    /*
    position: absolute;
    top: 0;
    left: 30;
    padding: 5px;
    background-color: #E9F2FD;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px 0 0 0;
    */
    position: absolute;
    top: 0px;
    padding-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    color: #E9F2FD;

  }
  
  .Proteicos-text{
    position: absolute;
    top: 0px;
    padding-top: 370px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;

    color: #E9F2FD;

  }
  



.Botones-Productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.Boton-Disminuir,
.Boton-Aumentar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #42D976;
  font-family: 'Poppins';
  cursor: pointer;
}

.Boton-Disminuir:hover,
.Boton-Aumentar:hover {
  color: #2BA458;
}

.CantidadProductos {
  display: flex;
  font-family: 'Poppins';
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #42D976;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

.AgregarACaja {
  width: 100%;
  font-family: 'Poppins';
  height: 50px;
  margin-top: 10px;
  background-color: #42D976;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.Agregar:hover {
  background-color: #2BA458;
}
